@model Asam.Ppc.Mvc4.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Html.ViewData.TemplateInfo.HtmlFieldPrefix = "ChangePasswordViewModel";
}

<div class="changePassword">
    
    @using (Html.BeginForm("ChangPassword", "Account"))
    {
        <div>
            @Html.LabelFor(m => m.OldPassword)
        </div>
        <div>
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor( m => m.OldPassword )
            <div class="clear"></div>
        </div>
        <div>
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div>
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor( m => m.NewPassword )
            <div class="clear"></div>
        </div>
        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor( m => m.ConfirmPassword )
            <div class="clear"></div>
        </div>
        <input type="submit" value="Save" />
        @Html.ActionLink( "Cancel", "Index", "Home", null, new { @class = "btn"} )
    }
</div>
