@model TestEHR.Models.HomeViewModel

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
    <body>
        <div>
            @using ( Html.BeginForm ( "ChangeBaseUri", "Home" ) )
            {
                <input style="width: 500px" type="text" id="apiKey" name="apiKey" value="@Model.ApiKey"/>
                <input style="width: 500px" type="text" id="baseUri" name="baseUri" value="@Model.BaseUri"/>
                <input type="submit" value="Change"/>
                <div>
                    <a href="#" onclick="DevClick()">Dev</a>
                    <a style="margin-left: 15px" href="#" onclick="QAClick()">QA</a>
                    <a style="margin-left: 15px" href="#" onclick="DemoClick()">Demo</a>
                </div>
            }
        </div>
        <div>
            <h2>Patients</h2>
            @foreach (var patient in Model.Patients)
            {
                <div style="width: 75%">
                    @Html.ActionLink(patient.PatientName, "Index", "Patient", new { id = patient.PatientKey }, null)
                    <span>- </span>
                    @foreach (var assessmentKey in patient.AssessmentKeys)
                    {
                        @Html.ActionLink(assessmentKey, "Index", "Patient", new { id = patient.PatientKey, assessmentId = assessmentKey }, null)
                        <span> - </span>
                    }
                    <div style="float: right">
                        @Html.ActionLink( "Create Assessment", "CreateAssessment", "Home", new { id = patient.PatientKey } , null )
                    </div>
                    <div></div>
                    <hr/>
                </div>
            }
        </div>
        <div>
            @Html.DisplayFor( m => m.ErrorMessage )
            <h2>Create Patient:</h2>
            @using (Html.BeginForm("CreatePatient", "Home"))
            {
                <div>
                    <label for="firstName">First Name:</label>
                    <input id="firstName" name="firstName" />
                </div>
                <div>
                    <label for="lastName">Last Name:</label>
                    <input id="lastName" name="lastName" />
                </div>
                <div>
                    <label for="dateOfBirth">Date of Birth:</label>
                    <input id="dateOfBirth" name="dateOfBirth" />
                </div>
                <div>
                    <label for="gender">Gender:</label>
                    <input id="gender" name="gender" />
                </div>
                <input type="submit" value="Create" />
            }
        </div>
        <div>
            <h2>Get Assessment Data:</h2>
            @Html.TextAreaFor( m => m.AssessmentData )
            @using ( Html.BeginForm ( "GetAssessmentData", "Home" ) )
            {
                <label>Patient Id</label>
                <input id="patientId" name="patientId" />
                <label>Assessment Id</label>
                <input id="assessmentId" name="assessmentId"/>
                <input type="submit" value="Get Data" />
            }
        </div>
        <div>
            <h2>Get Assessment Report:</h2>
            @using (Html.BeginForm("GetAssessmentReport", "Home"))
            {
                <label>Patient Id</label>
                <input id="patientId" name="patientId" />
                <label>Assessment Id</label>
                <input id="assessmentId" name="assessmentId" />
                <input type="submit" value="Get Report" />
            }
        </div>
        <script>
            function DevClick() {
                var text = document.getElementById("baseUri");
                text.value = "https://localhost:44303/";
            }
            function QAClick() {
                var text = document.getElementById("baseUri");
                text.value = "https://asam-api-qa.feisystems.com/";
            }
            function DemoClick() {
                var text = document.getElementById("baseUri");
                text.value = "https://asam-api-demo.feisystems.com/";
            }
        </script>
    </body>
</html>
