@using Asam.Ppc.Service.Messages.Assessment
<!DOCTYPE html>
<html style="background-color: white;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none !important;
    }
  </style>
<![endif]-->
    <!--[if gte IE 6]>
	<link href="~/Content/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body class="container">
<div>
    <div id="rootNavigation" class="one-third column">
        <div id="assessmentLogo">
        </div>
        <div id="rootTabs">
            <div id="tabContent">
                @RenderSection("NavigationBody", required: false)
            </div>
        </div>
    </div>
    <div id="mainContent" class="two-thirds column shadow-left">
        @RenderBody()
        <div id="ajax-loader" style="display: none"></div>
    </div>
</div>

@Html.Partial("_AsamFooter")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/jqueryformatcurrency")
    <script>
    $(document).ready(function() {
            var layoutSizeFix = {
                fixSizes: function() {
                    $('#rootTabs').height($(window).height() - $('#assessmentLogo').height() - $('#asamFooter').height());
                    $('#rootTabs #tabContent').height($('#rootTabs').height() - $('#rootTabs #tabsList').height() - 2 - $('#asamFooter').height());
                }
            };
            
            layoutSizeFix.fixSizes();            
        $(window).resize(function() {
                layoutSizeFix.fixSizes();
            });

            $('textarea').after('<div><span class="disclaimer">@AsamPpcResources.Disclaimer</span></div>');
        });

    $(document).ajaxError(function(e, jqxhr, settings, exceptions) {
            e.stopPropagation();
            if (jqxhr !== null) {
                alert(jqxhr.responseText);
            }
        });
    </script>
    @Scripts.Render("~/bundles/jqueryasam")
    @RenderSection("scripts", required: false)
</body>
</html>
