@using Asam.Ppc.Domain.AssessmentModule.DrugAndAlcohol
@using Asam.Ppc.Service.Messages.Assessment
@model AssessmentDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Patient.Name.FirstName @Model.Patient.Name.LastName - @Model.CreatedTimestamp.ToString()</title>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
</head>
    <body class="print-view">
        <div class="page-header">
            <h1>@Model.Patient.Name.FirstName @Model.Patient.Name.LastName</h1>
            <h3>@Model.CreatedTimestamp.ToString()</h3>
            <div class="clear"></div>
        </div>
        <form id="assessmentForm" class="container">
            <div>
                @{ ViewContext.RouteData.Values.Add("section", "GeneralInformationSection");}
                @Html.Partial("Edit", Model.GeneralInformationSection)
            </div>
            <div>
                @{ ViewContext.RouteData.Values["section"] = "MedicalSection";}
                @Html.Partial("Edit", Model.MedicalSection)
            </div>
            <div>
                @{ ViewContext.RouteData.Values["section"] = "EmploymentAndSupportSection";}
                @Html.Partial("Edit", Model.EmploymentAndSupportSection)
            </div>
            <div>
                @{
                    ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                    ViewContext.RouteData.Values.Add("subsection", "UsedSubstances");}
                @Html.Partial("Edit", Model.DrugAndAlcoholSection.UsedSubstances)
            </div>
            @{ var usedSubstanceCodes = Model.DrugAndAlcoholSection.UsedSubstances.SubstanceHasEverUsed.Select(s => s.Code).ToList();}
            @if (usedSubstanceCodes.Contains(SubstanceCategory.Alcohol.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "AlcoholUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.AlcoholUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.Methadone.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "MethadoneUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.MethadoneUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.Heroin.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "HeroinUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.HeroinUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.OtherOpiate.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "OtherOpiateUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.OtherOpiateUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.Barbiturates.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "BarbiturateUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.BarbiturateUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.OtherSedatives.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "OtherSedativeUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.OtherSedativeUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.Cocaine.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "CocaineUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.CocaineUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.Stimulants.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "StimulantUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.OtherOpiateUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.Cannabis.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "CannabisUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.CannabisUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.Hallucinogens.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "HallucinogenUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.HallucinogenUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.SolventInhalants.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "SolventAndInhalantUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.SolventAndInhalantUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.MultiplePerDay.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "MultipleSubstanceUsePerDay";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.MultipleSubstanceUsePerDay)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.Nicotine.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "NicotineUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.NicotineUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.OtherSubstance.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "OtherSubstanceUse";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.OtherSubstanceUse)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.Heroin.Code) ||
                 usedSubstanceCodes.Contains(SubstanceCategory.Methadone.Code) ||
                 usedSubstanceCodes.Contains(SubstanceCategory.OtherOpiate.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "CinaScale";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.CinaScale)
                </div>
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "OpiatesInControlledEnvironment";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.OpiatesInControlledEnvironment)
                </div>
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "OpioidMaintenanceTherapy";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.OpioidMaintenanceTherapy)
                </div>
            }
            @if (usedSubstanceCodes.Contains(SubstanceCategory.Alcohol.Code) ||
                 usedSubstanceCodes.Contains(SubstanceCategory.Barbiturates.Code) ||
                 usedSubstanceCodes.Contains(SubstanceCategory.OtherSedatives.Code))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "CiwaScale";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.CiwaScale)
                </div>
            }
            @if (usedSubstanceCodes.Any())
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "AddictionTreatmentHistory";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.AddictionTreatmentHistory)
                </div>
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "AdditionalAddictionAndTreatmentItems";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.AdditionalAddictionAndTreatmentItems)
                </div>
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "AlcoholAndDrugInterviewerRating";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.AlcoholAndDrugInterviewerRating)
                </div>
            }
            @if (
                ((usedSubstanceCodes.Contains(SubstanceCategory.Methadone.Code) &&
                  Model.DrugAndAlcoholSection.MethadoneUse.HasHealthCareProviderPrescribedUse == true)) ||
                ((usedSubstanceCodes.Contains(SubstanceCategory.OtherOpiate.Code) &&
                  Model.DrugAndAlcoholSection.OtherOpiateUse.HasHealthCareProviderPrescribedUse == true)) ||
                ((usedSubstanceCodes.Contains(SubstanceCategory.Barbiturates.Code) &&
                  Model.DrugAndAlcoholSection.BarbiturateUse.HasHealthCareProviderPrescribedUse == true)) ||
                ((usedSubstanceCodes.Contains(SubstanceCategory.OtherSedatives.Code) &&
                  Model.DrugAndAlcoholSection.OtherSedativeUse.HasHealthCareProviderPrescribedUse == true)) ||
                ((usedSubstanceCodes.Contains(SubstanceCategory.Stimulants.Code) &&
                  Model.DrugAndAlcoholSection.StimulantUse.HasHealthCareProviderPrescribedUse == true)) ||
                ((usedSubstanceCodes.Contains(SubstanceCategory.Nicotine.Code) &&
                  Model.DrugAndAlcoholSection.NicotineUse.HasHealthCareProviderPrescribedUse == true)) ||
                ((usedSubstanceCodes.Contains(SubstanceCategory.OtherSubstance.Code) &&
                  Model.DrugAndAlcoholSection.OtherSubstanceUse.HasHealthCareProviderPrescribedUse == true)))
            {
                <div>
                    @{
                        ViewContext.RouteData.Values["section"] = "DrugAndAlcoholSection";
                        ViewContext.RouteData.Values["subsection"] = "InterviewerEvaluation";
                    }
                    @Html.Partial("Edit", Model.DrugAndAlcoholSection.InterviewerEvaluation)
                </div>
            }
            @{ViewContext.RouteData.Values["subsection"] = null;}
            <div>
                @{ ViewContext.RouteData.Values["section"] = "LegalSection";
                }
                @Html.Partial("Edit", Model.LegalSection)
            </div>
            <div>
                @{ ViewContext.RouteData.Values["section"] = "FamilyAndSocialHistorySection";}
                @Html.Partial("Edit", Model.FamilyAndSocialHistorySection)
            </div>
            <div>
                @{
                    ViewContext.RouteData.Values["section"] = "PsychologicalSection";
                    ViewContext.RouteData.Values["subsection"] = "PsychologicalHistory";
                }
                @Html.Partial("Edit", Model.PsychologicalSection.PsychologicalHistory)
            </div>
            <div>
                @{
                    ViewContext.RouteData.Values["section"] = "PsychologicalSection";
                    ViewContext.RouteData.Values["subsection"] = "InterviewerRating";
                }
                @Html.Partial("Edit", Model.PsychologicalSection.InterviewerRating)
            </div>
            <div>
                @{
                    ViewContext.RouteData.Values["section"] = "PsychologicalSection";
                    ViewContext.RouteData.Values["subsection"] = "DepressionEvaluation";
                }
                @Html.Partial("Edit", Model.PsychologicalSection.DepressionEvaluation)
            </div>
            @{ViewContext.RouteData.Values["subsection"] = null;}
            <div>
                @{ ViewContext.RouteData.Values["section"] = "CompletionSection";}
                @Html.Partial("Edit", Model.CompletionSection)
            </div>
            @if ( Model.IsCompleted )
            {
                <div>
                    @{ ViewContext.RouteData.Values["section"] = "ReviewSection";}
                    @Html.Partial("Edit", Model.ReviewSection)
                </div>  
            }
        </form>

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryajax")
        @Scripts.Render("~/bundles/jquerydatatable")
        @Scripts.Render("~/bundles/jqueryformatcurrency")
        @Scripts.Render("~/bundles/jqueryasam")
        @Scripts.Render("~/bundles/assessmentrules")
        <script>
            $(document).ready(function () {
                $("#assessmentForm :input").attr("disabled", true);
                $.initializing();
                window.print();
            });
        </script>
    </body>
</html>
